<a href="https://colab.research.google.com/github/nisachristy/Our_Project/blob/main/sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
c=pd.DataFrame({'a':[1,2,3],'b':[4,5,6]})#dataframe using dictionary adding columwise
c

   a  b
0  1  4
1  2  5
2  3  6

In [2]:
d=pd.DataFrame([[1,2,3],[4,5,6]],columns=['a','b','c'])#dataframe using list adding rowwise
d

   a  b  c
0  1  2  3
1  4  5  6